{% extends 'base.html' %}

{% block content %}
<div class="blog-content">
    <h2>Upcoming Blogs</h2>
    <p class="animated">Coming Soon</p>
    <p>
        <li>Deploying Hugging Face Falcon on SageMaker</li>
        <li>Machine Learning Essentials with Cats</li>
        <li>Using Amazon Bedrock To Battle The Red Dragon Compiler Book.
            <ul class="nested-list">
                <li><a href="https://www.amazon.com/Compilers-Principles-Techniques-Tools-2nd/dp/0321486811">re:
                        Compilers: Principals, Techniques and Tools</a></li>
            </ul>
        </li>
    </p>
</div>
{% endblock %}