{% extends 'base.html' %}

{% block content %}
<div class="portfolio-container">
    <h1>Portfolio Page</h1>
    <p class="animated">Check out my work and wade through my hobbies.</p>
    <!-- Add your portfolio items here -->
    <div class="portfolio-item">
        <h2>Github</h2>
        <p><a target="_blank" href="https://github.com/BryanChasko/">https://github.com/BryanChasko/</a></p>
    </div>
    <div class="portfolio-item">
        <h2>AWS Heroes Bio</h2>
        <p><a target="_blank"
                href="https://aws.amazon.com/developer/community/heroes/bryan-chasko/">https://aws.amazon.com/developer/community/heroes/bryan-chasko/</a>
        </p>
    </div>
    <!-- Add more portfolio items as needed -->
</div>
{% endblock %}